<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 d-none d-sm-block border-radius-custom" [ngClass]="themeService.isDarkMode() ? 'background-dark' : 'background-light'">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="progress-circle">
          <mat-icon style="color: white">looks_one</mat-icon>
        </div>
      </div>

      <div class="row mt-2 d-flex justify-content-center">
        <mat-progress-bar class="progress-bar"></mat-progress-bar>
      </div>

      <div class="row d-flex justify-content-center" style="margin-top: 6.5rem">
        <div class="progress-circle">
          <mat-icon style="color: white">looks_two</mat-icon>
        </div>
      </div>

      <div class="row mt-2 d-flex justify-content-center">
        <mat-progress-bar class="progress-bar"></mat-progress-bar>
      </div>

      <div class="row d-flex justify-content-center" style="margin-top: 6.5rem">
        <div class="progress-circle">
          <mat-icon style="color: white">check</mat-icon>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
      <h2>Kleider:</h2>
      <mat-divider class="custom-mat-divider"></mat-divider>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <mat-radio-group formControlName="isPickUp">
              <mat-radio-button color="primary" [value]="true">Abholung</mat-radio-button>
              <mat-radio-button color="primary" [value]="false">Übergabe an der Geschäftsstelle</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 d-flex justify-content-center">
            <mat-form-field class="w-100">
              <mat-label>Krisengebiet</mat-label>
              <mat-select formControlName="crisisCountry" placeholder="Select country">
                <mat-option *ngFor="let crisisCountry of crisisCountries" [value]="crisisCountry">
                  {{crisisCountry}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <ng-container formArrayName="clothes">
          <ng-container *ngFor="let clothingForm of clothesFormArray.controls; let i = index">
            <div class="row mt-3" [formGroupName]="i">
              <div class="col-4">
                <mat-form-field class="w-100">
                  <mat-label>Anzahl</mat-label>
                  <input formControlName="quantity" matInput type="number">
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="w-100">
                  <mat-label>Kleiderart</mat-label>
                  <mat-select formControlName="type" placeholder="Select clothing type">
                    <mat-option [disabled]="checkIfClothingTypeAlreadySelected(clothingType)" *ngFor="let clothingType of clothingTypes" [value]="clothingType">
                      {{clothingType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2">
                <button (click)="removeClothingFormGroupAtIndex(i)"
                        [disabled]="clothesFormArray.length === 1"
                        type="button"
                        mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <div class="row">
          <div class="col-2">
            <button (click)="addClothingFormGroup()"
                    [disabled]="clothesFormArray.length === 5"
                    type="button"
                    mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h2>Persönliche Angaben</h2>
            <mat-divider class="custom-mat-divider"></mat-divider>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Name</mat-label>
              <input formControlName="name" autocomplete="given-name" matInput>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Nachname</mat-label>
              <input formControlName="lastName" autocomplete="family-name" matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Straße und Hausnummer</mat-label>
              <input formControlName="street"
                     autocomplete="street-address"
                     matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Stadt</mat-label>
              <input formControlName="city" matInput>
            </mat-form-field>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <mat-form-field class="w-100">
              <mat-label>Postleitzahl</mat-label>
              <input formControlName="postCode"
                     type="number"
                     matInput>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-6">
            <mat-form-field class="w-100">
              <mat-label>Land</mat-label>
              <input [readonly]="true"
                     formControlName="country"
                     matInput>
              <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100">
              <mat-label>Tag der Abholung</mat-label>
              <input matInput
                     formControlName="date"
                     [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 justify-content-evenly">
    <button class="w-25 br-1" type="button" mat-raised-button color="primary" (click)="resetForm()">Zurücksetzen</button>
    <button class="w-25 br-1" type="button" mat-raised-button color="primary" (click)="submitForm()">Absenden</button>
  </div>
</div>
