<mat-toolbar class="custom-toolbar">
  <div class="col-1">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="col-1"></div>
  <div class="col-1">
    <img [src]="resolveLogo()" class="logo-toolbar-mobile" alt="Clothing for crisis">
  </div>
  <div class="col-7"></div>
  <div class="col-2 d-flex justify-content-center">
    <button mat-icon-button>
      <mat-icon>language</mat-icon>
    </button>
    <app-theme-toggle-button></app-theme-toggle-button>
  </div>
</mat-toolbar>
