<div class="d-flex flex-column min-vh-100">
  <ng-container *ngIf="!isMobile">
    <header class="mb-auto">
      <app-desktop-header-nav></app-desktop-header-nav>
    </header>
    <div class="mt-5 mb-5 flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="isMobile">
    <header class="mb-auto">
      <app-mobile-header-nav></app-mobile-header-nav>
    </header>
  </ng-container>
  <footer>
    <app-footer class="footer-bottom"></app-footer>
  </footer>
</div>
