<mat-toolbar class="d-flex justify-content-between custom-toolbar">
  <div>
    <img [src]="themeService.getThemedLogo()" class="logo-toolbar-desktop" alt="Clothing for crisis">
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center">
      <span class="fs-6 inactive-link">Übersicht</span>
      <span class="fs-6 inactive-link" style="margin-left: 2rem">Über uns</span>
      <span class="fs-6 inactive-link" style="margin-left: 2rem">Krisengebiete</span>
      <button mat-raised-button style="margin-left: 2rem" color="primary" routerLink="donate">
        Kleiderspende
      </button>
    </div>
    <div class="d-flex justify-content-center" style="margin-left: 5rem">
      <button mat-icon-button>
        <mat-icon>language</mat-icon>
      </button>
      <app-theme-toggle-button></app-theme-toggle-button>
    </div>
  </div>
</mat-toolbar>
