<mat-toolbar color="primary">
  <div class="col-lg-1 col-md-1 col-sm-1">
    <span routerLink="donate">Donate Clothes</span>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-1 col-md-1 col-sm-1">
    <span>Donation History</span>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <span>Clothing for crisis</span>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3"></div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <span>Language</span>
  </div>
</mat-toolbar>
